@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fff1f2;
  overflow-x: hidden;
}

.glass {
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #fecdd3;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #fda4af;
}
